@page
@model LeitorNfe.Pages.Nfe.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>NotaFiscal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NotaFiscal.Id" />
            <div class="form-group">
                <label asp-for="NotaFiscal.Numero" class="control-label"></label>
                <input asp-for="NotaFiscal.Numero" class="form-control" />
                <span asp-validation-for="NotaFiscal.Numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotaFiscal.ChaveAcesso" class="control-label"></label>
                <input asp-for="NotaFiscal.ChaveAcesso" class="form-control" />
                <span asp-validation-for="NotaFiscal.ChaveAcesso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotaFiscal.DataEmissao" class="control-label"></label>
                <input asp-for="NotaFiscal.DataEmissao" class="form-control" />
                <span asp-validation-for="NotaFiscal.DataEmissao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotaFiscal.Total" class="control-label"></label>
                <input asp-for="NotaFiscal.Total" class="form-control" />
                <span asp-validation-for="NotaFiscal.Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotaFiscal.EmitenteId" class="control-label"></label>
                <select asp-for="NotaFiscal.EmitenteId" class="form-control" asp-items="ViewBag.EmitenteId"></select>
                <span asp-validation-for="NotaFiscal.EmitenteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotaFiscal.DestinatarioId" class="control-label"></label>
                <select asp-for="NotaFiscal.DestinatarioId" class="form-control" asp-items="ViewBag.DestinatarioId"></select>
                <span asp-validation-for="NotaFiscal.DestinatarioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

